extends ../layout/page

block content
    div.row.form-login
      div.span4.offset4.well
        legend Login
      form(action="/users", method="post")
        input.span4#username(type='text', name="username", placeholder='Username')
        input.span4#username(type='password', name="password", placeholder='Password')
        label.checkbox
          input(type='checkbox', name='remember', value='1')  
          span Remember Me
        button.btn.btn-info.btn-block(type='submit', name='submit') Sign in